# Mac finder Files
.DS_Store

# Binary Files
bin/*
*.class
target/classes/*

# Package Files #
*.jar

# Logs and test files
logs/*
test/*
*.log

#This should be developer specific, not sure
*.classpath

#vim editor files
*.swp


#Unity files
UnityTerraTowerClient/UnityTerraTowerClient/Temp/*
UnityTerraTowerClient/UnityTerraTowerClient/Library/*
UnityTerraTowerClient/UnityTerraTowerClient/Obj/*
*.csproj
*.unityproj
*.sln
*.user
*.userprefs


#Eclipse files
UnityTerraTowerClient/EclipseWorkspace/.metadata/*

