# Binary Files
bin/*
*.class
target/classes/*

# Package Files #
*.jar

# Logs and test files
logs/*
test/*
*.log

#This should be developer specific, not sure
*.classpath

#vim editor files
*.swp

UnityTerraTowerClient/UnityTerraTowerClient/Temp/*
UnityTerraTowerClient/EclipseWorkspace/.metadata/*
